body{
    display: flex;
    flex-direction: column;
    background: rgb(218, 212, 219);
}
main{
    display: flex;
    flex-direction: row;
    flex: auto;
}
article{
flex: 2;
overflow-y:auto;
color: black;
 background: rgb(243, 243, 243);
}
aside{
flex: 1;
overflow-y:auto;
background: rgb(44, 43, 43);
color: cornsilk;
}

/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  li{
    white-space: nowrap;
    line-height: 60px;
  }